$off-black: rgb(70,70,70);

.row {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.border {
	border: solid $off-black 2px;
	border-radius: 2vw;
}

.rounded-box {
	@extend .border;
	min-height: 10vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	overflow: hidden;
	background-color: white;
}
* {
	text-align: center;
	color: $off-black;
	vertical-align: middle;
}

ul {
    list-style-position: inside;
}

.start-button {
	width: 40vw;
	height: 20vh;
	font-size: 3vw;
	border-radius: 5vw;
	text-shadow:
	-2px -2px 0 white,  
    2px -2px 0 white,
    -2px 2px 0 white,
     2px 2px 0 white;
}

h1, h2 {
	margin-top: 2vw;
	margin-bottom: 2vw;
	margin-left: 2vw;
	margin-right: 2vw;
}

h3, h4, p, .btn {
	margin-left: 1vw;
	margin-right: 1vw;
}

.dropdown-menu {
	width: 100%;
}

.input-div {
	overflow: initial;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.white-text {
	color: white;
	text-shadow:
	-1px -1px 0 $off-black,  
    1px -1px 0 $off-black,
    -1px 1px 0 $off-black,
     1px 1px 0 $off-black;
}

.price {
	color: green;
}

.right {
	float: right;
}

.registration-input {
	margin-top: 2vh;
	margin-bottom: 2vh;
	height: 10vh;
	width: 20vw;
}

.transparent {
	border-radius: 2vw;
	background-color: rgba(110,110,110,0.5);
}

.landing-page {
  background: url(http://g01.a.alicdn.com/kf/HTB18qvRKpXXXXbVXpXXq6xXFXXXl/7X5FT-Vinyl-photography-font-b-background-b-font-font-b-Christmas-b-font-font-b-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grey-background {
	background-color: rgb(220,220,220);
}

.btn {
	@extend .border;
}

.navbar-btn {
	border-radius: 8px;
	width: 25vw;
	height: 50px;
	color: white;
	@extend .white-text;
     font-size: 20px;
}

.left {
	float: left;
}

.center {
	float: center;
}

.tree-icon-image {
	height: 24vw;
	width: 90%;
	@extend .border;
}

.tree-icon-image-large {
	width: 40vw;
	height: 50vw;
	@extend .border;
}

.highlight {
	background-color: blue;
}

.tree-name {
	@extend .white-text;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 20%;
}

.tree-price {
	@extend .white-text;
	font-size: 20px;
	position: absolute;
	top: 10%;
	right: 15%;
}

.arrow-button {
	width: 3vw;
}